<li><%= link_to 'EN', root_path(locale: :en), class: "nav-link"%></li>
<li class="nav-link"><i class="bi bi-signpost-split pt-2"></i></li>
<li><%= link_to 'UA', root_path(locale: :uk), class: "nav-link" %></li>